body {
  text-align: center;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}

.sub-container {
  flex-basis: 22%;
  flex-shrink: 1;
  padding-bottom: 40px;
}

img {
  width: 200px;
}

.name {
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.0em;
  border-bottom: 3px solid green;
}

.email {
  text-transform: uppercase;
  font-size: 0.8em;
  color: gray;
}

.info {
  text-transform: capitalize;
  font-size: 0.8em;
}

.ssn {
  color: green;
  filter: blur(3px);
  cursor: pointer;
}

.ssn:hover {
  filter: blur(0);
}
